/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "TwCenMT-Bold";
  src: url("./fonts/TCB.eot"); /* IE9 Compat Modes */
  src: url("./fonts/TCB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    //url("./fonts/TCB.otf") format("opentype"), /* Open Type Font */
    url("./fonts/TCB.svg") format("svg"), /* Legacy iOS */
    url("./fonts/TCB.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/TCB.woff") format("woff"), /* Modern Browsers */
    url("./fonts/TCB.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-display: swap;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "AdobeArabic-Regular";
  src: url("./fonts/AdobeArabic-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/AdobeArabic-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/AdobeArabic-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/AdobeArabic-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/AdobeArabic-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/AdobeArabic-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/AdobeArabic-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-display: swap;
}
/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "TwCenMT-regular";
  src: url("./fonts/TwCenClassMTStd-Regular.eot"); /* IE9 Compat Modes */
  src: url("./fonts/TwCenClassMTStd-Regular.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/TwCenClassMTStd-Regular.otf") format("opentype"), /* Open Type Font */
    url("./fonts/TwCenClassMTStd-Regular.svg") format("svg"), /* Legacy iOS */
    url("./fonts/TwCenClassMTStd-Regular.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/TwCenClassMTStd-Regular.woff") format("woff"), /* Modern Browsers */
    url("./fonts/TwCenClassMTStd-Regular.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-display: swap;
}