.formulario{
	font-family: "AdobeArabic-Regular", system-ui;
	font-size: 20px;
	p{
		margin: 0;
		padding: 4px 0;
		span.ajax-loader{
			display: none;
		}
	}
	.form{
		input,textarea{
			display: block !important;
			width: 100% !important;
			border: solid 1px $azul !important;
			border-radius: 4px !important;
			letter-spacing: 2px !important;
			padding-left: 15px !important;
		}
		input[type="submit"]{
			background: $azul;
			color: white;
			width: auto;
			border-radius: 0;
			padding: 5px 40px;
			text-transform: uppercase;
		}
	}
}

#form-container-contacto-sitio-web-569d5c4ed4956655d181{
	div#conversion-contacto-sitio-web-569d5c4ed4956655d181 {
		background: none !important;
		section{
			padding: 0 !important; 
			input,textarea{
				display: block !important;
				width: 100% !important;
				border: solid 1px $azul !important;
				border-radius: 4px !important;
				letter-spacing: 2px !important;
				padding-left: 15px !important;
				font-family: 'AdobeArabic-Regular',system-ui !important;
			}
			input.call_button[type="submit"]{
				border: none !important;
				background: $azul !important;
				color: white !important;
				width: auto !important;
				border-radius: 0 !important;
				padding: 5px 40px !important;
				text-transform: uppercase !important;
			}
		}
	}
}