.item-galery{
	padding-top: 15px;
	padding-bottom: 15px;
}
html{scroll-behavior: smooth;}

.button-group{
	padding: 0;
	list-style: none;
	text-align: center;
	button{
		&.is-checked{
				position: relative;
				&:after{
					content: "";
					display: block;
					position: absolute;
					bottom: 20px;
					height: 2px;
					width: 100%;
					left: 0;
					background: $dorado;
				}
		}
	}
	button{
		display: inline-block;
		background: none;
		border: none;
		padding: 30px;
		color: $gray;
		font-family: 'TwCenMT-Bold', system-ui;
		font-weight: 100;
		&:focus{
			outline: none;
		}
	}
}
.grid-item{
	a{
		display: block;
		cursor: pointer;
	}
	img{
		max-width: 350px;
		margin-bottom: 20px;
	}
}
.logo-restaurante{
	position: relative;
	&:after{
		content: "";
		position: absolute;
		right: 0;
		top: 50%;
		transform: translateY(-50%);
		background:$gray;
		height: 80%;
		width: 2px;
		display: block;
	}
}